/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
.container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header.main {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100px;
    background-color: #e579e5;

}

/* MAIN TOP */
main.top {
    margin-bottom: 30px;
    height: 400px;
    background-color: #e0d579;
}

/* MAIN CONTENT */
.box {
    height: 500px;
    background: #3286ff;
}

.box > * {
    background: #accee7;
}

.box header {
    height: 50px;
    margin-bottom: 20px;
}

.box aside, .box section {
    height: 410px;
    margin-bottom: 20px;
    float: left;
}

.box aside {
    width: 24%;
}

.box section {
    width: 50%;
    margin: 0 1%;
} 