/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
.container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    background-color: #e579e5;

}

/* MAIN TOP */
main.top {
    margin-bottom: 30px;
    height: 500px;
    background-color: #e0d579;
}